<div class='navigation'>
<ul>
  <li><a href='/#/links' class='index'>All Links</a></li>
  <li><a href='/#/create' class='create'>Shorten</a></li>
  <li><a class='logout'><span ng-click='signout()'>Logout</span></li></a>
  <li><input type="text" ng-model="searchString" placeholder="Enter your search terms">
</ul>
</div>
<div id='container'>

  <form name="shortenForm" novalidate ng-submit="addLink()">
    Enter URL
    <input type="url" name="input" ng-model="url" required>

    <button type="submit" ng-disabled="!isValidUrl(url)">Submit</button>

  </form>

</div>


